* {
    margin: 0px;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 651px;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
    border-radius: 5px;
}

.navbar {
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content {
    height: 50px;
    width: 1025px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-logo {
    background-image: url('images/logo.png');
    width: 150px;
    height: 50px;
    background-size: cover;
}

.nav-lang {
    position: absolute;
    left: 40rem;
}

.nav-lang select {
    width: 123px;
    height: 32px;
    border-radius: 5px;
    padding-left: 15px;
    font-weight: 700;
}

.nav-button input {
    width: 75px;
    height: 32px;
    border-radius: 4px;
    background-color: #C11119;
    color: white;
    border-style: none;
    font-weight: 700;
}

.nav-button {
    position: absolute;
    left: 50rem;
}

.hero-section {
    height: 300px;
    width: 1010px;
    color: white;
    text-align: center;
    margin: 130px auto 0px auto;
    padding: 20px;
    background-color: coral;
}

.hero-head {
    font-size: 2.8rem;
    font-weight: 900;
    text-align: center;

}

.para1,
.para2 {
    font-size: 1.60rem;
    font-weight: 400;
    padding-top: 5px;
    text-align: center;
}

.hero-button {
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.hero-input input {
    width: 370px;
    height: 60px;
    border-radius: 4px;
    font-size: 1.25rem;
    border-style: none;
    padding-left: 20px;
}

.hero-btn input {
    width: 370px;
    height: 60px;
    border-radius: 5px;
    font-size: 1.50rem;
    font-weight: 500;
    padding-left: 20px;
    border-style: none;
    background-color: #C11119;
    color: white;
    cursor: pointer;
}

hr {
    border: 2px solid whitesmoke;
}

.section-first {
    height: 380px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.section-text {
    width: 500px;
    height: 190px;
}

.section-text span {
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.section-text p {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 25px;
    color: white;
}

.section-image {
    width: 500px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pc {
    width: 550px;
    height: 358px;
    background-image: url("images/section_1.png");
    background-size: cover;
}

.pc video {
    width: 496px;
    height: 200px;
    z-index: 2;
    margin-top: 80px;
}

.section-second {
    height: 380px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.section-second .section-text {
    width: 500px;
    height: 190px;
}

.section-second .section-text span {
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.section-text::first-letter {
    color: coral;
    font-size: 4rem;
}

.section-second .section-text p {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 25px;
    color: white;
}

.section-second .section-image {
    width: 500px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-second .pc {
    width: 550px;
    height: 358px;
    background-image: url("images/section_2.png");
    background-size: cover;
}

.footer-page {
    background-color: black;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

ul a {
    display: block;
    margin-top: 10px;
    color: #ffffffb3;
}

ul a {
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline;
}
.foot-panel4 {
    background-color: coral;
    color: white;
    height: 76px;
    font-size: 0.7rem;
    text-align: center;
}

.foot-pages {
    padding-top: 25px;
}

.copyrights {
    padding-top: 10px;

}

.foot-pages a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

.foot-pages a:hover {
    text-decoration: underline;
}